<!DOCTYPE html>
<html>
<head>
<title>Çamaşır Makinesi Pompası</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<section class="product-detail">

<div class="product-img">
<img src="pompa.webp">
</div>

<div class="product-info">

<h1>Çamaşır Makinesi Pompası</h1>

<p>Yüksek performanslı su tahliye pompası.</p>

<p class="product-price">350 TL</p>

<h3>Ürün Özellikleri</h3>

<ul class="product-features">
<li>Uzunluk: 10 cm</li>
<li>Genişlik: 6 cm</li>
<li>Ağırlık: 200 gr</li>
<li>Güç: 40W</li>
<li>Uyumluluk: Arçelik, Vestel, Siemens</li>
</ul>

<button class="cart-btn">Sepete Ekle</button>

</div>

</section>

</body>
</html>